.Quiz {
    width: 100%;
    height: 600px;
    margin: 60px auto 0; 
}

.Rules {
    background-color: rgba(188, 188, 248, 0.15);
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

@media(min-width: 1000px){
    .Quiz {
        margin: 150px auto 0;
    }
}

.Rules ul {
    overflow: auto;
    width: 100%;
    height: 220px;
    text-align: left;
}

.Rules li, .Rules p {
    font-size: small;
    margin: 1px;
    font-weight: 500;
}

.Rules table td {
    font-size: small;
}

.TimerText {
    color: white;
    display: none;
    font-size: small;
    text-align: center;
    margin: 0 auto;
}

@media(max-height: 650px){
    .TimerText {
        display: block;
    }
}

.Question {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.Question p {
    font-size: small;
    border: 1px solid #E04836;
    text-align: justify;
    text-align-last: center;
    color: white;
    border-radius: 10px;
    padding: 20px 35px;
    font-weight: 500;
    background-color: #E04836;
}

.Answers {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.Answers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Answers ul li {
    font-size: small;
    color: white;
    font-weight: 500;
    border: 1px solid #5696BC;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.Answers ul li:hover {
    background-color: #2F5168;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.Answers ul li:active {
    background-color: #F39D41;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.Answers ul li.Selected {
    background-color: #F39D41;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.Answers ul li.Selected:hover {
    background-color: #F39D41;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

@media (hover: none) {
    .Answers ul li {
        font-size: small;
        color: white;
        border: 1px solid #5696BC;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
        font-weight: 500;
    }
    .Answers ul li:hover {
        background-color: transparent;
        font-weight: 500;
        color: inherit;
        cursor: pointer;
    }
    .Answers ul li:active {
        background-color: #4CAF50;
        font-weight: 500;
        color: inherit;
        cursor: pointer;
    }
    .Answers ul li.Selected {
        background-color: #4CAF50;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
}

.Score {
    width: 50%;
    margin: 15px auto;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    background-color:#E04836;
    padding: 10px;
}

.Score p {
    margin: 0;
    padding: 0;
    color: white;
}

.Gameover {
    font-size: small;
    text-align: center;
    margin: 0 auto 0;
}

@media(max-width: 950px){
    .Gameover {
        margin: 70px auto 0;
    }
}

.Gameover button {
    color: white;
    background-color: #2F5168;
    font-weight: bold;border: 2px solid #2F5168;
    box-shadow: 2px 1px #5696BC;
    border-radius: 10px;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
     margin: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 250px;
}

.Gameover button:hover {
    background-color: #5696BC;
    border: 2px solid #5696BC;
    box-shadow: 2px 1px white;
    color: white;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.Blockquote{
  font-size: 12px;
  width:80%;
  margin: 10px auto;
  font-family:Open Sans;
  font-style:italic;
  color: black;
  padding:1.2em 30px 1em 30px;
  border-left:8px solid #E04836;
  position: relative;
  background-image: url('../../images/oldpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
}

.Blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#E04836;
  font-size:4em;
  position: absolute;
  left: 0;
  top:-10px;
}

.Blockquote::after{
  content: '';
}

.Blockquote p {
    margin-bottom: 5px;
    color: #333333;
}

.Blockquote span {
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 5px;
}

.TableInfo {
    margin: 0 auto;
    width: 80%;
    overflow-x: auto;
}

.Table {
    margin: 10px auto;
}

.Table tr th {
    border: 1px solid black;
    padding: 5px 10px;
    font-size: smaller;
    color: white;
    background-color: #5696BC;
}

.Table tr th img {
    width: 15px;
}

.Table tr td {
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: 500;
    font-size: smaller;
}

.Table tr td img {
    width: 15px;
}

.Table a {
    color: white;
}

.ModalInfo {
    text-align: center;
    padding: 20px;
}

.ModalInfo p {
    font-size: small;
}

.ModalInfo button {
    color: white;
    background-color: #5696BC;
    font-weight: bold;border: 2px solid #5696BC;
    border-radius: 10px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.ModalInfo button:hover {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
}

.ModalInfo button:active {
    color: rgba(0, 0, 255, 0.61);
    background-color: transparent;
    border: 2px solid rgba(0, 0, 255, 0.61);
}

.ModalInfo div {
    border: 1px solid white;
    border-radius: 5px;
}

.ModalInfo h6 {
    text-align: center;
    font-style: italic;
    color: red;
}

.Incorrect {
    color: #E04836;
    margin: 5px 0;
    font-weight: 500;
}

.Link {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 0;
}

.Link a {
    color: #E04836;
    text-decoration: none;
}

.Link a:hover {
    color: #F39D41;
}

.ModalInfo .Button {
    border: none;
}

.Button {
    text-align: center;
}

.Button button {
    color: white;
    background-color: #2F5168;
    font-weight: bold;border: 2px solid #2F5168;
    box-shadow: 2px 1px #5696BC;
    border-radius: 10px;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
     margin: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 250px;
}

.Button button:hover {
    background-color: #5696BC;
    border: 2px solid #5696BC;
    box-shadow: 2px 1px white;
    color: white;
}

.Danger button {
    background-color: #E04836;
    font-weight: bold;border: 2px solid #E04836;
    box-shadow: 2px 1px rgb(240, 133, 122);
}

.Danger button:hover {
    background-color: rgb(207, 50, 33);
    border: 2px solid rgb(207, 50, 33);
}

.InfoButton button {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

.InfoButton button:hover {
    background-color: #39963d;
    border: 2px solid #39963d;
}

.Stats button {
    background-color: #bbb;
    border: 2px solid #bbb;
}

.Stats button:hover {
    background-color: rgb(197, 197, 197);
    border: 2px solid rgb(197, 197, 197);
}