.Navigation {
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    padding: 20px 0;
}

.Navigation li {
    display: inline;
}

.Navigation a {
    text-decoration: none;
    color: black;
    padding: 14px 12px;
    margin: 0 10px;
    border-radius: 10px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.Navigation a:hover {
    background-color: rgb(5, 130, 202);
    color: white
}

.Navigation a:active {
    background-color: #4CAF50;
    color: white
}
