.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.auth-form {
    // border: 0.4rem solid $color-grey-light;
    padding: 8rem 6rem;
    border-radius: 10px;

    &__error {
        color: $color-danger;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    @include respond(big-desktop) {
        width: 40%;
    }

    @include respond(tab-land) {
        width: 60%;
    }

    @include respond(tab-port) {
        width: 70%;
    }

    @include respond(phone) {
        width: 90%;
    }

    label {
        color: $color-white;
        font-size: 1.4rem;
    }

    input {
        font-size: 1.2rem;
        width: 30rem;
    }

    button {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0.5rem 2rem;
        border-radius: 5px;
        margin: 1rem 0;
    }

    img {
        width: 25rem;
    }

    h3 {
        color: $color-white;
        text-align: center;
    }

    p {
        color: $color-grey-light;
        font-size: 1.2rem;
        margin: 0;
        margin-top: 1rem;
    }
}

.button {
    &-submit {
        background-color: $color-blue;
    }
}

.home {
    &-button {
        display: flex;
        align-items: center;
        padding: 2rem 6rem;
        margin: 2rem 0;
        border-radius: 1rem;
        cursor: pointer;
        background-color: $color-grey;
        
        &:hover {
            background-color: $color-blue;
        }

        &__icon {
            width: 5rem;
            margin: 0 1.5rem;
        }

        &__text {
            color: $color-text;
            font-size: 1.6rem;
            font-weight: 500;
            margin-right: 2rem;
            letter-spacing: 0.1rem;
        }
    }
}