.center-x {
    display: flex;
    justify-content: center;
}

.center-y {
    display: flex;
    align-items: center;
}

.center-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fd-row {
    flex-direction: row;
}

.fd-col {
    flex-direction: column;
}