$color-grey: #424556;
$color-grey-dark: #333645;
$color-grey-light: #a8a8a8;

$color-blue: #5696bc;

$color-white: #fff;
$color-black: #362f2f;

$color-text: #ccc;

$color-incorrect: #ff6452;
$color-selected: #f39d41;
$color-correct: #4caf50;

$color-danger: #ff7f78;

$color-red: #cc0000;
