$color-primary: #678891;
$color-secondary: #f5e9d9;
$color-tertiary: #678891;

$color-blue: #4287f5;

$color-white: #f5e9d9;
$color-black: #362f2f;

$color-text: #ccc;

$color-incorrect: #e9585e;
$color-selected: #f39d41;
$color-correct: #4caf50;

$color-danger: #ff7f78;

$color-red: #e9585e;
$color-yellow: #e9e949;
