$color-grey: #424556;
$color-grey-dark: #333645;
$color-grey-light: #a8a8a8;

$color-blue: #5696BC;

$color-white: #fff;
$color-black: #362f2f;

$color-incorrect: #ff6452;
$color-selected: #F39D41;
$color-correct: #4CAF50;

$color-danger: #ff7f78;

$color-red: #cc0000;