@import 'variables.scss';
@import 'mixins.scss';
@import 'base.scss';
@import 'components.scss';
@import 'utility.scss';

:export {
    primary: $color-primary;
    secondary: $color-secondary;
    incorrect: $color-incorrect;
    danger: $color-danger;
    red: $color-red;
    correct: $color-correct;
    white: $color-white;
    black: $color-black;
    yellow: $color-yellow;
}
