.Button button {
    color: white;
    background-color: #5696BC;
    font-weight: bold;border: 2px solid #5696BC;
    border-radius: 10px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
     margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Button button:hover {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
}

.Button button:active {
    color: rgba(0, 0, 255, 0.61);
    background-color: transparent;
    border: 2px solid rgba(0, 0, 255, 0.61);
}
