.Title {
    text-align: center;
    color: #555;
}

.Title div {
    border: 1px solid black;
    padding: 20px 0;
}

.Title div p {
    margin: 0;
    padding: 0;
}

.Heading {
    width: 80%;
    padding: 10px 0;
    font-size: small;
    font-weight: bold;
    margin: 60px auto 0; 
    text-align: center;
}

@media(min-width: 1000px){
    .Heading {
        margin: 80px auto 0;
    }
}

.Table {
    margin: 0 auto;
    width: 100%;
}

.Table tr td {
    border: 1px solid black;
    padding: 0 10px;
    font-weight: 500;
    font-size: small;
    overflow-x: auto;
    width: 50%;
}

.Table tr td img {
    width: 15px;
}

.Table tr th {
    border: 1px solid black;
    padding: 0 10px;
    font-weight: bold;
    font-size: small;
    color: white;
    background-color: rgb(5, 130, 202);
    width: 50%;
}

.Table tr th img {
    width: 15px;
}

.Games {
    margin-top: 10px;
    border-top: 1px solid black;
}

.Games p {
    text-align: center;
}

.Field {
    text-align: center;
    border-radius: 10px;
    height: 100%;
}

.Field p {
    font-size: small;
}

.Title {
    margin: 0;
    padding: 10px 0 5px 5px;
    font-weight: 500;
}

.Table button,
.List button {
    color: white;
    background-color: rgb(5, 130, 202);
    font-weight: bold;
    border: 2px solid rgb(5, 130, 202);
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 0 auto 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.List {
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 450px;
    margin-bottom: 20px;
}

.List li {
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgba(188, 188, 248, 0.15);
    padding: 10px 0;
}

.List li p {
    font-size: small;
    margin: 2px;
    padding: 0;
    font-weight: bold;
}

.List .Question {
    text-align: justify;
    text-align-last: center;
    margin: 0 20px;
    font-size: small;
    color: white;
    font-weight: bold;
}
.List li a {
    font-size: small;
    color: white;
    font-weight: 500;
    font-style: italic;
}
