.Ranking {
    margin: 70px auto 0; 
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    height: auto;
}

.Ranking p {
    font-size: medium;
    font-weight: 500;
    color: white;
    margin: 0;
}

.Table {
    margin: 10px auto;
    width: 100%;
}

.Table tr td {
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: 500;
    font-size: small;
}

.Table tr td img {
    width: 15px;
}

.Table tr th {
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: bold;
    font-size: small;
    color: white;
    background-color: rgb(69, 109, 136);
}

.Table tr th img {
    width: 15px;
}

.MyResults {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    border-radius: 10px;
    overflow: auto;
}

.MyResultsButton {
    display: none;
}

@media(max-width: 1000px) {
    .MyResults {
        display: none
    }
    .MyResultsButton {
        display: block;
    }
}


.List {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    overflow: auto;
}

@media(min-width: 800px){
    .Ranking {
        margin: 100px auto 0;
        width: 80%;
    }
}

.Ranking button {
    width: 50%;
    color: white;
    background-color: rgb(69, 109, 136);
    font-weight: bold;
    border: 2px solid rgb(69, 109, 136);
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
     margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Ranking button:hover {
    background-color: #E04836;
    border: 2px solid #E04836;
    color: white;
}

