.ListOfQuestions {
    font-size: small;
    width: 80%;
    height: 100%;
    margin: 80px auto;
    text-align: center;
    overflow: auto;
}

.ListOfQuestions select {
    font-size: small;
    width: 30%;
    border-radius: 10px;
    text-align-last: center;
}


.ListOfQuestions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.ListOfQuestions li {
    font-size: small;
    font-weight: 500;
    margin: 5px;
    padding: 10px;
    border: 1px solid #5696BC;
    border-radius: 10px;
    text-align: left;
    overflow: auto;
}

.ListOfQuestions li button {
    font-size: small;
    float: right;
}

.ListOfQuestions li span {
    font-size: small;
    float: right;
    padding: 0 10px;
}

.Button {
    color: white;
    background-color: #5696BC;
    font-weight: 500;
    border: 2px solid #5696BC;
    border-radius: 10px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
     margin: 0 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Button:hover {
    background-color: #2F5168;
    border: 2px solid #2F5168;
    color: white;
}

.Danger {
    color: white;
    background-color: #E04836;
    font-weight: 500;
    border: 2px solid #E04836;
    border-radius: 10px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
     margin: 0 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Danger:hover {
    background-color: red;
    border: 2px solid red;
    color: white;
}

.ListButton {
    padding: 5px 10px;
    font-size: small;
    font-weight: 500;
}

