.Contents {
    width: 80%;
    text-align: center;
    padding: 10% 0;
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Contents div {
    margin: 10px auto;
    text-align: center;
}

.Contents div input {
    width: 85%;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.Contents div button {
    color: white;
    font-style: italic;
    background-color: #5696BC;
    font-weight: 500;
    border: 2px solid #5696BC;
    border-radius: 10px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
     margin: 10px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Contents div button:hover {
    background-color: #E04836;
    border: 2px solid #E04836;
    color: white;
}

.AuthForm {
    border: 1px solid #5696BC;
    width: 50%;
}

.AuthForm p {
    color: white;
    background-color: #5696BC;
    padding: 15px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 25px;
}

.Link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 20px 14px;
    cursor: pointer;
}

.Link a:hover {
    color: rgb(0, 26, 173)
}

.Link a:active {
    color: red;
}

@media(max-width: 800px) {
    .Contents div input {
        width: 90%;
        height: 30px;
        border-radius: 10px;
        text-align: center;
    }
    .AuthForm {
        width: 90%;
    }
}
